<button type="button" class="btn btn-primary filter-point" ng-click="filterClick()">
  All <span class="badge badge-light">{{nums.all}}</span>
</button>
<button type="button" class="btn btn-info filter-point" ng-click="filterClick('finished')">
  Result <span class="badge badge-light">{{nums.finished}}</span>
</button>
<button type="button" class="btn btn-danger filter-point" ng-click="filterClick('live')">
  Live <span class="badge badge-light">{{nums.live}}</span>
</button>
<button type="button" class="btn btn-warning filter-point" ng-click="filterClick('upcoming')">
  Upcoming <span class="badge badge-light">{{nums.upcoming}}</span>
</button>
