<div class="row nopadding" ng-if="!ic.error && ic.dataArr.length > 0">

  <!-- Filters -->
  <!-- Mobile filters -->
  <div class="col-sm-12 d-sm-none">
    <p><button class="btn btn-secondary" type="button" data-toggle="collapse" href="#filtrsCollapse" role="button" aria-expanded="false" aria-controls="filtrsCollapse">Click for toggling filters window...</button></p>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="filtrsCollapse">
          <div class="card card-body">
            <filters click-func="ic.setFilter(type)" nums="ic.elemNumbers"></filters>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Desctop version of the filter block -->
  <div class="col-sm-12 nopadding d-none d-sm-block">
    <span class="filters-title">Filters:</span>
    <filters click-func="ic.setFilter(type)" nums="ic.elemNumbers"></filters>
  </div>

  <div class="col-sm-12" ng-if="ic.displayed.length > 0">
    <div class="row box" ng-repeat="item in ic.displayed">
      <!-- Header block -->
      <div class="col-sm-12 textcenter">
        <div><span ng-if="item.status.type === 'inprogress'" class="live-icon">(live) </span>{{item.country}} - {{item.competition}}</div>
        <div><i>{{ic.getFullDate(item.date)}}-{{item.time}}</i></div>
      </div>

      <!-- home team block -->
      <!-- desktop -->
      <div class="col-sm-5 twrapper hteam-wrapper d-none d-sm-block">
        <h4>{{item.homeTeam.name}}&nbsp;<span class="d-sm-none score">{{item.homeScore.current}}</span></h4>
      </div>
      <!-- mobile -->
      <div class="row col-sm-12 twrapper hteam-wrapper d-sm-none">
        <div class="col-10">
          <h4>{{item.homeTeam.name}}</h4>
        </div>
        <div class="col-2">
          <span class="score" ng-if="item.status.type !== 'notstarted'">{{item.homeScore.current}}</span>
        </div>
        <hr class="hteam-mobile-divider" />
      </div>
      <!-- /home team block -->

      <!-- Commin block of the scores -->
      <div class="col-sm-2 d-none d-sm-block textcenter score">
        <span ng-if="item.status.type !== 'notstarted'">{{item.homeScore.current}}:{{item.awayScore.current}}</span>
      </div>

      <!-- away team block -->
      <!-- desktop -->
      <div class="col-sm-5 twrapper ateam-wrapper d-none d-sm-block">
        <h4>{{item.awayTeam.name}}</h4>
      </div>
      <!-- mobile -->
      <div class="row col-sm-12 twrapper ateam-wrapper d-sm-none">
        <div class="col-10">
          <h4>{{item.awayTeam.name}}</h4>
        </div>
        <div class="col-2">
          <span class="score" ng-if="item.status.type !== 'notstarted'">{{item.awayScore.current}}</span>
        </div>
      </div>
      <!-- /away team block -->

    </div>
  </div>
</div>

<div ng-if="ic.error" class="row box error">{{ic.error}}</div>
