@import '../../../style/_variables.styl';

.hteam-wrapper
  text-align: left

.ateam-wrapper
  text-align: right

.filters-title
  font-size: 32px
  vertical-align: middle

.score
  font-size: 24px

.hteam-mobile-divider
  border-color: $boxbordercolor
  margin-top: 10px
  margin-bottom: 10px
  width: 92%
  text-align: center

.live-icon
  color: $errorcolor
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;

@-webkit-keyframes blinker
  from
    opacity: 1.0
  to
    opacity: 0.0

@media screen and (max-width: 576px)
  .filter-point
    width: 100%
    margin: 0 0 5px 0
    text-align: left

  .ateam-wrapper
    text-align: left
