/* Common page styles here */
body
  background: $mainbg
  color: $textcolor
  font-size: 18px

  .container
    &.mainwrapper
      background-color: $mainbg
      margin-top: 30px

      .row
        &.box
          //border: 1px solid $linkcolor
          border-radius: 10px
          background-color: $boxbg
          padding: 15px
          box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.47)
          margin-bottom: 15px

          &.error
            margin-top: 15px
            color: $errorcolor

          &:first-child
            margin-top: 5px

div.nopadding
  padding: 0

.textcenter
  text-align: center

@media screen and (max-width: 576px)
  .container
    &.mainwrapper
      .row
        margin-left: -10px
        margin-right: -10px
